<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>GENERAL</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.0xkuj.globalarmspreferences</string>
			<key>key</key>
			<string>isTweakEnabled</string>
			<key>label</key>
			<string>Tweak Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>GLOBAL SETTINGS</string>
			<key>footerText</key>
			<string>When enabled, will present a confirmation dialog box before any action that will be performed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.0xkuj.globalarmspreferences</string>
			<key>key</key>
			<string>isDialogNeeded</string>
			<key>label</key>
			<string>Confirmation before action</string>
			<key>nestedEntryCount</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.0xkuj.globalarmspreferences</string>
			<key>key</key>
			<string>isDialogSnooze</string>
			<key>label</key>
			<string>Before Snooze All Alarms</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.0xkuj.globalarmspreferences</string>
			<key>key</key>
			<string>isDialogToggle</string>
			<key>label</key>
			<string>Before Toggle All Alarms</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.0xkuj.globalarmspreferences</string>
			<key>key</key>
			<string>isDialogDeleteDis</string>
			<key>label</key>
			<string>Before Delete Disabled Alarms</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.0xkuj.globalarmspreferences</string>
			<key>key</key>
			<string>isDialogDeleteAll</string>
			<key>label</key>
			<string>Before Delete All Alarms</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>defaults</key>
			<string>com.0xkuj.globalarmspreferences</string>
			<key>footerText</key>
			<string>This option will include/exclude "Bed Time" alarm clock from the global settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.0xkuj.globalarmspreferences</string>
			<key>key</key>
			<string>isBedTimeIncluded</string>
			<key>label</key>
			<string>Include "Bed Time" alarm clock</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SOME CHANGES REQUIRES RESPRING</string>
		</dict>
		<dict>
			<key>action</key>
			<string>respring:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>respring.png</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ABOUT ME</string>
		</dict>
		<dict>
			<key>action</key>
			<string>donationLink</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>donate.png</string>
			<key>label</key>
			<string>Buy me a beer ;)</string>
		</dict>
		<dict>
			<key>action</key>
			<string>openTwitter</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>Twitter.png</string>
			<key>label</key>
			<string>Follow me on Twitter</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Made by: 0xkuj | v2.0.1</string>
		</dict>
	</array>
	<key>title</key>
	<string>GlobAlarmSettings</string>
</dict>
</plist>

