Package: com.0xkuj.deleteallalarms
Name: GlobAlarmSettings
Depends: mobilesubstrate
Version: 2.0
Architecture: iphoneos-arm
Description: Few actions to affect all alarms
Maintainer: 0xkuj
Author: 0xkuj
Section: Tweaks
